<div class="cont-slider">
  <ul id="header-slippry">
    <li><a href="#slide2"><img src="assets/images/familia.jpg" alt="Alimentos Balanceados nutricion animal" style="min-height:500px"></a></li>
    <li><a href="#slide1"><img src="assets/images/caballos3.jpg" alt="Alimentos Balanceados nutricion animal" style="min-height:500px"></a></li>
    <li><a href="#slide3"><img src="assets/images/cereal.jpg" alt="Alimentos Balanceados nutricion animal" style="min-height:500px"></a></li>
    <li><a href="#slide1"><img src="assets/images/cows.jpg" alt="Alimentos Balanceados nutricion animal" style="min-height:500px"></a></li>
    <li><a href="#slide1"><img src="assets/images/caballo5.jpg" alt="Alimentos Balanceados nutricion animal" style="min-height:500px"></a></li>
  </ul>
</div>


