<div class="cont_imagen fadeIn" style="background-image: url(assets/images/empresa.jpg)"></div>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-lg-4">
      <div class="card mision">
        <div class="cont_icon-card madera">
          <div class="icon-card metal">
          <i class="fa fa-3x fa-line-chart" aria-hidden="true"></i>
        </div>
      </div>
        <div class="card-body">
          <h5 class="card-title">Mision</h5>
          <p>
              Generar y Comercializar productos y servicios agropecuarios, co-crear proyectos asociativos,
              brindar asesoramiento integral, alternativas de inversión y servicios de manera sustentable social,
              ambiental y economicamente, en un marco de formación y desarrollo de las personas, creando
              y fortaleciendo vínculos dentro de la Red.
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-6 col-lg-4">
      <div class="card vision">
        <div class="cont_icon-card madera">
          <div class="icon-card metal">
          <i class="fa fa-3x fa-eye" aria-hidden="true"></i>
        </div>
      </div>

        <div class="card-body">
          <h5 class="card-title">Vision</h5>
          <p>
            Somos una cooperativa agroindustrial inclusiva donde junto al Departamento de Nutricional Animal nos dedicamos a producir balanceados de alta calidad.
    Generamos valor y evolucionamos junto a los asociados y equipo profesional de la red.

          </p>
        </div>
      </div>

    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card valores">
        <div class="cont_icon-card madera">
          <div class="icon-card metal">
            <i class="fa fa-3x fa-handshake-o" aria-hidden="true"></i>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p>
              Nuestros valores tienen tres dimensiones...
          </p>
          <ul class=" fs-12 font-arial  col-sm-12">
            <li> Orientados a las Personas.</li>
            <li> Orientados a los Negocios.</li>
            <li> Orientados a los Servicios.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


