<div class="container" style="padding-top: 20px; padding-bottom: 20px">

  <form class="m-t-15" [formGroup]="f_clase" (ngSubmit)="saveClase()" novalidate="novalidate" autocomplete="off">
    <div *ngIf="this.f_clase.value.id"><small>Esta editando la clase con id: {{this.f_clase.value.id}}</small></div>
    <div class="form-group form-group-default" (click)="clase.focus()">
      <label>Clase</label>
      <input type="text" class="form-control" name="clase" #clase formControlName="clase">
    </div>
    <div class="sm-p-t-10 clearfix">
      <button class="btn btn-black font-montserrat all-caps fs-12 pull-right xs-pull-left">Guardar</button>
      <button *ngIf="isEditing" type="button" class="btn btn-light font-montserrat all-caps fs-12 pull-right xs-pull-left mr-2" (click)="cancel()">Cancelar</button>
    </div>
  </form>

  <br>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Clase</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clase of clases">
        <th>{{clase.id}}</th>
        <td>{{clase.clase}}</td>
        <td><i class="fa fa-times pull-right pointer" (click)="delClase(clase)"></i>
            <i class="fa fa-pencil pull-right pointer" (click)="editClase(clase)"></i></td>
      </tr>
    </tbody>
  </table>



</div>
