<app-carousel2></app-carousel2>

<div class="container animated fadeIn">

  <h1>Alimentos Balanceados</h1>
  <p>
  La cooperativa union cuenta con una línea completa de alimento que aporta una nutrición natural y
  saludable sin colorantes ni saborizantes artificiales. Está formulado con productos naturales de excelente
  calidad. De esta manera es la mejor opción del segmento
  ya que otorga una excelente relación entre precio y calidad.
  Nuestros productos ofrecen los estándares más altos de calidad en su segmento.
  Con la fórmula ideal para cada etapa de la vida.
  </p>


</div>


<app-cards></app-cards>


<div class="container">

  <div class="row">
    <div class="col-md-6  mt-5">
      <h1 class="pTitle">Ubicaci&oacute;n de nuestra planta</h1>
        <p class="pDeno">
        Cooperativa Agropecuaria Union nace en el interior de la provincia de Córdoba y
        su exclusiva planta de nutrición animal está ubicado en la localidad de San marcos Sud.
        La cual cuenta con maquinarias para la producción de alimentos que los especialistas definen
        según las necesidades de cada productor.
      </p>

      <div class="row">
        <div class="col-12">
          <p class="pContacto bold">Contato: </p>
          <p class="pContacto">
            <i class="fa fa-phone" style="color:#7F9B6A"></i><span class="fs-14">Tel: +54 - (03537) 15671674</span><br>
            <a href="mailto:info@dnacoopunion.com.ar"><i class="fa fa-envelope"
                style="color:#7F9B6A; padding-right: 3px"></i>info@dnacoopunion.com.ar</a><br>
          </p>
        </div>
      </div>

    </div>
    <div class="col-md-6 mt-5">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1680.0332276272236!2d-62.484112541887725!3d-32.631053695254074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cbe7974b8099f1%3A0xee418c6af5e41d3e!2sCoop.%20Agropecuaria%20Union!5e0!3m2!1ses!2sar!4v1605622567909!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>



</div>


<app-newfeed></app-newfeed>

<div style="background-color: floralwhite; margin: 0px;" >
  <div class="container" style="margin-top: 0px; padding-top: 20px;">
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 p-3">
            <p class="pContacto bold">Cr. Oscar Ramello</p>
            <p class="pContacto">Responsable de DNA</p>
            <p class="pContacto">
              <i class="fa fa-phone" style="color:#7F9B6A"></i><span class="fs-14">Tel: +54 - (03537) 15671674</span><br>
              <a href="mailto:oramello@coopunion.com.ar"><i class="fa fa-envelope"
                  style="color:#7F9B6A; padding-right: 3px"></i>oramello@coopunion.com.ar </a><br>
            </p>
        </div>
        <div class="col-md-6 p-3">
            <p class="pContacto bold">Ing. Agr. Diego Diaz</p>
            <p class="pContacto">Director Tecnico</p>
            <p class="pContacto">
              <span class="fs-14"><i class="fa fa-phone" style="color:#7F9B6A"></i> Tel: +54 - (03537) 15300392</span><br>
              <a href="mailto:ddiaz@coopunion.com.ar"><i class="fa fa-envelope"
                  style="color:#7F9B6A; padding-right: 3px"></i>ddiaz@coopunion.com.ar</a><br>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>



