 <div class="container">

  <div class="d-flex justify-content-between flex-wrap">

      <div class="card" (mouseenter)="animacion($event)">
        <img  alt="Alimento Balanceado" src="assets/images/_porcinos.png" [routerLink]="['/productos/porcino']" class="card-img-top img-card-prod wow bounceInLeft">
        <div class="card-body">
          <h5 [routerLink]="['/productos/porcino']" class="card-title" (mouseenter)="animacion($event)">Porcino</h5>
        </div>
      </div>

      <div class="card" (mouseenter)="animacion($event)">
        <img  alt="Alimento Balanceado" src="assets/images/_conejos.png" [routerLink]="['/productos/conejo']" class="card-img-top img-card-prod wow bounceInLeft">
        <div class="card-body">
          <h5 [routerLink]="['/productos/conejo']" class="card-title" (mouseenter)="animacion($event)">Conejo</h5>
        </div>
      </div>

      <div class="card" (mouseenter)="animacion($event)">
         <img  alt="Alimento Balanceado" src="assets/images/_aves.png" [routerLink]="['/productos/ave']" class="card-img-top img-card-prod wow bounceInLeft">
         <div class="card-body">
           <h5 [routerLink]="['/productos/ave']" class="card-title" (mouseenter)="animacion($event)">Ave</h5>
         </div>
       </div>

       <div class="break"></div>

      <div class="card " (mouseenter)="animacion($event)">
        <img  alt="Nutricion Animal" src="assets/images/_bovinos.png" [routerLink]="['/productos/bovino']" class="card-img-top img-card-prod wow bounceInRight">
        <div class="card-body">
          <h5 [routerLink]="['/productos/bovino']" class="card-title" (mouseenter)="animacion($event)">Bobino</h5>
        </div>
      </div>

      <div class="card " (mouseenter)="animacion($event)">
        <img  alt="Nutricion Animal" src="assets/images/_equinos.png" [routerLink]="['/productos/equino']" class="card-img-top img-card-prod wow bounceInRight">
        <div class="card-body">
          <h5 [routerLink]="['/productos/equino']" class="card-title" (mouseenter)="animacion($event)">Equino</h5>
        </div>
      </div>

      <div class="card " (mouseenter)="animacion($event)">
        <img  alt="Nutricion Animal" src="assets/images/_ovinos.png" [routerLink]="['/productos/ovino']" class="card-img-top img-card-prod wow bounceInRight">
        <div class="card-body">
          <h5 [routerLink]="['/productos/ovino']" class="card-title" (mouseenter)="animacion($event)">Ovino</h5>
        </div>
      </div>


  </div>


 </div>

