.card {
    border: 0px;
    margin: 0px;
    background-color: transparent;
}

.container {
  background-image: url(../../../../assets/images/lines.jpg);
  background-size: 100% 100%;
}

.card img:hover, h5.card-title  {
  cursor: pointer;
}

.img-card-prod {
    width: 10vw;
    max-width: 110px;
    min-width: 80px;
    margin: 10px auto;
}

.card-title {
  font-size: 20px;
  text-align: center;
  text-size-adjust: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: #626262;
  margin: 0px;
}

.card-body {
  padding: 0px;
  margin: 0px;
}

.break {
  display: none;
  flex-basis: 0%;
}

@media only screen and (max-width: 765px) {
  .break {
    display: block;
    flex-basis: 100%;
    height: 0;
  }
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background: rgba(0,0,0,0.2);
}

/* .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: maroon;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: maroon;
} */
