<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
            <img src="/assets/images/logo_header.png" height="50">
          </div>
          <div class="col-sm-6">
              <p>Sobremonte y Tucumán</p>
              <p>San Marcos (2568) - Córdoba - Argentina</p>
              <p><i class="fa fa-phone" style="color:#7F9B6A"></i>
              Tel: (03537) 498159/187/485</p>
              <p><i class="fa fa-envelope" style="color:#7F9B6A; padding-right: 3px"></i> 
              <a href="mailto:sanmarcos@coopunion.com.ar">oramello@coopunion.com.ar</a></p>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-6 senasa">
                <img src="assets/images/senasa.jpg" width="40">
                <p>Habilitaci&oacute;n</p>
                <p></p>
                <p>Inscripci&oacute;n</p>
                <p>N° 9293/A/E</p>
              </div>
              <div class="col-6" style="text-align: right">
                <img src="assets/images/afip960.jpg" width="50">
              </div>
            </div>
      
          </div>
        </div>
  </div>
</footer>
